---
import Layout from "@/layouts/Layout.astro";
import Header from "@/sections/Header.astro";
import Hero from "@/sections/Hero.astro";
import Footer from "@/sections/Footer.astro";
---

<Layout title="Web replica de Tomas Garcia">
  <Header />
  <main>
    <Hero />
  </main>
  <Footer />
</Layout>

<style></style>
