---
const { imgs, names } = Astro.props;
---

<div
  class="w-auto block justify-center items-center cursor-pointer mb-3 md:mb-4"
>
  <a rel="noopener" href="/">
    <img alt="BARRO 003.png" class="" src={imgs} />
    <h3 class="text-md text-center pt-2 text-black">{names}</h3>
  </a>
</div>

<style></style>
