---
import SocialMail from "@/components/Mail.astro";
import Twitter from "@/components/Twitter.astro";
import Vimeo from "@/components/Vimeo.astro";
---

<footer class="flex flex-row justify-between mt-5 py-12 px-5">
  <p>▒▒▒▒▒▒▒▒ <span class="text-sm text-black">2024</span></p>
  <div class="flex flex-row gap-2">
    <a target="_blank" rel="noopener" href="mailto:tomas@tomasgarcia.tv"
      ><SocialMail /></a
    >
    <a target="_blank" rel="noopener" href="https://www.twitter.com"
      ><Twitter /></a
    >
    <a target="_blank" rel="noopener" href="https://vimeo.com/tomgarcia"
      ><Vimeo /></a
    >
  </div>
</footer>
