---
import NavLogo from "@/components/NavLogo.astro";
---

<nav
  class="flex flex-col md:flex-row md:justify-between
items-center pb-20 md:px-5"
>
  <NavLogo />
  <div class="pt-20 text-center">
    <ul class="flex gap-8 text-xs">
      <li class="text-gray-400 hover:text-black">
        <a href="/fiesta">MANIFIESTO</a>
      </li>
      <li class="text-gray-400 hover:text-black">
        <a href="/fiesta">PIEDRA</a>
      </li>
      <li class="text-gray-400 hover:text-black">
        <a href="/fiesta">INFO</a>
      </li>
    </ul>
  </div>
</nav>
